

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    scroll-behavior: smooth;
}
body {
	line-height: 1;
    width: 100vw;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
    color: #111;
}

.logo {
    display: flex;
    gap: 1em;
}
/*                          Init                        */

/* .logo::before {
    content: url("./img/favicon.png");
    position: relative;
    top: 25px;
    
} */
/* .container {
    position: relative;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root {
    --clr-light-gray : rgb(235, 235, 245);
    --clr-orange : orangered;
}
body {
    font-family: 'Roboto', sans-serif;
    
}

.container {
    width: 90vw;
    /* background-color: red; */
    margin: 0 auto;
}

header {
    width: 100vw;
    z-index: 10000;
    position: fixed;
    top: 0;
    display: flex;
    
    /* background-color: red; */
   
}

.header-container {
    width: 90vw;
    /* margin: 0 auto; */
    
}
.inverted {
    background-color: #fff;
    box-shadow: 0 3px 5px 0.3px rgba(0,0,0,0.1);
 
}

/* .header-container {
    width: ;
    background-color: #fff;
} */
nav > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    
}

.navbar ul {
    
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    z-index: 20000;
    /* background-color: red; */
    width: 100%;
    box-sizing: border-box;
}

 .navbar_btn {
    height: 50px;
    width: 100px;
    display: flex;
    gap: 1em;
    z-index: 30000;
}

main {
    position: relative;
}

.navmenu {
    position: fixed;
    /* background-color: red; */
    z-index: 200;
    height: 10vh;
    width: 100vw;
    top: 0;
    /* display: none; */
}

.navbar-items {
    display: flex;
    justify-content: center;
    padding-top: 15em;
    gap: 2em;
    background-color: #fff;
    height: 100vh;
}

.navbar-item a {
    color: #222;
}

.hidden {
   background-color: green;
   display: none !important;
}
.navbar-item__link {
    font-size: 1.2em;
    font-weight: 700;
}

.navbar-item__link:active{
    color: red;
}
.hamburger {
    width: 30px;
    height: 30px;
}

.hamburger-btn {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.hamburger-btn img{
    width: 100%;
    height: 100%;
}

/* main { */
    
    /* background-color: yellow; */
    /* padding: 1.3em; */
    /* margin: 2em;
    position: relative; */
/* } */
.main-home {
    background-color: var(--clr-orange);
    width: 160px;
    height: 250px;
    z-index: 100;
    position: absolute; 
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    
}
.home_img {
    width: 150px;
    position: relative;
} 

.home_img img {
    width: 100%;
    object-fit: fill;
    position: absolute;
    bottom: 0;
} 

main {
    padding: 2em;
}
.cabezera {
    margin-top: 450px;
} 

h1, h1+p {
    font-size: 1.8em;
    font-weight: 700;
}

.cabezera p:nth-child(3) {
    font-weight: 300;
    font-size: 0.95em;
    margin-top: 1em;
}

.cabezera p:nth-child(4) {
    font-weight: 500;
    font-size: 1.20em;
    color: var(--clr-orange);
    margin-top: 1em;
}

.discovery {
    display: flex;
    align-items: center;
    margin-top: 1em;
    
}
.discovery__link , .discovery__cart{
    width: 12em;
    padding: 1em;
    border: none;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 2px;
    box-shadow:  1px 3px 8px 5px #cecaca;
    
}

.discovery__link {
    background-color: var(--clr-light-gray);
    height: 4em;
    width: 10em;
}

.discovery__link:hover {
    background-color: gray;
    color: #fff;
    transition: background-color 0.5s ease;
}

.discovery__cart:hover {
    background-color: var(--clr-orange);
    
}
.discovery__cart {
    background-color: #222;
    height: 4.5em;
    color: white;
}

/*  store */

.items-filters__group {
    padding: 2em;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2em;
    margin: 0 auto;
    /* background-color: red; */
    /* grid-auto-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    background-color: red;
    gap: 2em; */

}

.items-filters__group div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
    border-left: 1px solid gray;
}

.item__filter h2 {
    font-weight: 500;
    font-size: 1.1em;
}

.item__filter p {
    font-weight: 300;
    font-size: 1em;
}

.items-filters__group div:nth-child(1), div:nth-child(3) {
    border: none;
}

.ropa-img {
    width: 250px;
    height: 200px;
    background-color: var(--clr-light-gray);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.card {
    border-radius: 1em;
    /* background-color: green; */
    width: 250px;
    box-shadow: 1px 8px 10px 1px #cecaca;
    /* box-shadow: 1px 3px 8px 5px #cecaca; */
    transition: all 1.5s ease;
}
.ropa-img img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
}

.card .card-details {
    padding: 1.5em;
    position: relative;
  
}

.card .card-details button {
    padding: 1em;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1.3em;
    right: 1.3em;
    border: none;
    box-shadow: 0 3px 5px 0.3px rgba(0,0,0,0.1);
    
    transition: scale 1s ease;
}

.card-details button:active {
    background-color: #aaa;
    transform: scale(0.7);
}
.collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}


footer {
    background-color: rgb(218, 218, 211);
    margin-top: 2em;

    display: flex;
    flex-direction: column;
    gap: 4em;
    justify-content: center;
    padding: 2em;
}

footer div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-subtitle {
    font-weight: 700;
    font-size: 1.5em;
}

footer a {
    color: #222;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.bold {
    font-weight: 700;
}

.thin {
    font-weight: 300;
}

.item__filter button {
    background-color: transparent;
    border: none;
}

.item__filter button:hover{
    cursor: pointer;
}

.carrito {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 0;
}

.carrito_btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}

.carrito_btn:hover {
    cursor: pointer;
}
.carrito p {
    background-color: #111;
    color: #cecaca;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    

    
}

article {
    position: relative;
}

/* checkout style */
.checkout {
    /* height: 80vh;
    width: 80vw; */
    width: 80%;
    height: 100vh;
    /* background-color: rgb(159, 35, 35); */
    /* position: fixed; */
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0 auto;
 

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    background-color: #fff;


    /* display: none; */
}

.subtitle {
    font-size: 2em;
}

.checkout-title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    /* background-color: greenyellow; */
 
    font-weight: 700;
 
}

.checkout-title p{
    font-weight: 700;
    font-size: 1.5em;
}
.btn_close {
    background: transparent;
    border: none;
    font-size: 1.2em;
    font-weight: 700;
    /* align-self: flex-end; */
    padding: 2em;
    
}

.btn_close:hover {
    cursor: pointer;
}

.empty-cart {
    width: 400px;
}

.empty-cart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.checkout-items {
    margin-top: 2em;
}
.articulo {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    align-items: center;
    margin-top: 1.5em;
}

.articulo_img {
    width: 150px;
    height: 150px;
}

.articulo_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.articulo_details {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    gap: 1em;
}

.add_mayo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media screen and (min-width: 950px) {
    .container, .header-container {
        width: 60%;
        /* margin: 0 auto; */
    }
    .collection {
        flex-direction: row;
        justify-content: space-around;
        
    }

    .home_img {
        width: 100%;
    }
    
    .main-home {
        width: 30%;
        height: 50vh;
    }

    .cabezera {
        margin-top: 100px;
        width: 45%;
    } 

    section.store {
        margin-top: 100px;
    }

    .items-filters__group {
    
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        margin-bottom: 50px;

    }

    footer {
        flex-direction: row;
        justify-content: space-around;
    }
    
    .checkout {
        width: 30%;
    }

}


